<div id="content-wrapper">
  <h1 class="page-header">Your Headaches</h1>
  <%= button_to "Record a New Headache", headaches_new_path, method: :get %> 

  <p>data about previous headaches to go here</p>
</div>